*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#81a6b4,#62849b);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:400px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
}

h2{
    text-align:center;
    color:#222;
    margin-bottom:25px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

input:focus{
    outline:none;
    border-color:#437a9f;
    box-shadow:0 0 5px rgba(98, 132, 154, 0.4);
}

button{
    width:100%;
    padding:12px;
    background:#778f9e;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#71a2c1;
    transform:scale(1.02);
}

#result{
    margin-top:25px;
    text-align:center;
}

/* PASS / FAIL Card */
#result div:first-child{
    border-radius:12px;
    padding:20px;
    color:white;
    box-shadow:0 6px 15px rgba(0,0,0,0.2);
}

#result h2{
    color:white;
    margin-bottom:10px;
    font-size:28px;
}

#result h3{
    font-size:24px;
    letter-spacing:2px;
}

/* Footer */
#result hr{
    margin:20px 0 10px;
    border:none;
    border-top:1px solid #ccc;
}

#result p{
    margin:5px 0;
    color:#555;
    font-size:15px;
}

#result p:first-of-type{
    font-weight:bold;
    color:#222;
}
